@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import 'ag-grid-community/styles/ag-theme-balham.css';
@import 'ag-grid-community/styles/ag-theme-material.css';

html {
  font-size: 14px;
  line-height: 1.42857;
  height: 100%;
}

body {
  display: block;
  margin: 0;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.crypto-cell {
  display: flex;
  font-weight: 700;

  .crypto-cell-icon {
    width: 24px;
    padding-right: 4px;
  }
}

.fav-button {
  padding: 0;
  border: none;
  background: none;
}

.icon-star {
  padding-top: 7px;
}


